*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

html, body, #root {
  width: 100%;
  overflow-x: hidden;
} /*added due to overflow showing white space*/
